@using System.Threading.Tasks
@using NBAFantasy.Models
@model IEnumerable<Team>

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div aurelia-app>
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        SystemJS.import('aurelia-bootstrapper');
    </script>

    <div>
        <h2>Team</h2>
        <p>
            <a asp-action="Create">Create new</a>
        </p>
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GM)
                    </th>
                </tr>
                <tr>
                    <td class="list-group-item">
                        {{team.Name}}
                    </td>
                    <td>
                        {{team.GM}}
                    </td>

                    <td>
                        <a class="glyphicon glyphicon-edit" data-ng-href="@Url.Action("Edit", "Teams")/{{team.Id}}">Edit</a>
                        <a class="glyphicon glyphicon-expand" data-ng-href="@Url.Action("Details", "Teams")/{{team.Id}}">Details</a>
                        <a class="glyphicon glyphicon-remove" data-ng-href="@Url.Action("Delete", "Teams")/{{team.Id}}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>