@using NBAFantasy.Models
@model IEnumerable<Player>

@{
    ViewData["Title"] = "List Players";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/controllers/player.js"></script>

<h2>List Players</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div ng-app="nbaFantasy">
    <div ng-controller="playerController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team)
                </th>
            </tr>
            <tr ng-repeat="player in players">
                <td>
                    {{player.Name}}
                </td>
                <td>
                    {{player.Position}}
                </td>
                <td>
                    {{player.DOB}}
                </td>
                <td>
                    #{{player.Number}}
                </td>
                <td>
                    {{player.Height}}
                </td>
                <td>
                    {{player.Weight}}
                </td>
                <td>
                    {{player.Team}}
                </td>
                <td>
                    <a class="glyphicon glyphicon-edit" data-ng-href="@Url.Action("Edit", "Players")/{{player.Id}}">Edit</a>
                    <a class="glyphicon glyphicon-remove" data-ng-href="@Url.Action("Delete", "Players")/{{player.Id}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>