@using System.Threading.Tasks
@using NBAFantasy.Models
@model IEnumerable<Team>

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/controllers/team.js"></script>

<div ng-app="nbaFantasy">

    <h2>Team</h2>
    <p>
        <a asp-action="Create">Create new</a>
    </p>
    <div ng-controller="teamController" data-ng-init="init(@Newtonsoft.Json.JsonConvert.SerializeObject(Model))">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GM)
                </th>
            </tr>
            <tr ng-repeat="team in teams">
                <td class="list-group-item">
                    {{team.Name}}
                </td>
                <td>
                    {{team.GM}}
                </td>

                <td>
                    <a class="glyphicon glyphicon-edit" data-ng-href="@Url.Action("Edit", "Teams")/{{team.Id}}">Edit</a>
                    <a class="glyphicon glyphicon-expand" data-ng-href="@Url.Action("Details", "Teams")/{{team.Id}}">Details</a>
                    <a class="glyphicon glyphicon-remove" data-ng-href="@Url.Action("Delete", "Teams")/{{team.Id}}">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>
